{
    padding:0;
    margin:0;
}

.navegador{
    background-color: #798645;
    width: 100vw;
}
/*foto de perfil*/
.Yo{
    width:10%
    
    
}

.overlay-text {
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
}


/*iconos*/
.html{
    height: fit-content;
    width:15%

}
.css{
    height: fit-content;
    width:15%
}
.javascript{
    height: fit-content;
    width:15%
}
.react{
    height: fit-content;
    width:15%
}

.git{
    width: 50px
}
.linkedin{
    width:40px
}
.whatsapp{
    width: 40px
}
.x{
    width:40px
}

.instagram{
    width: 40px;
}

/* secciones*/

.sobremi{
    background-color:#FEFAE0 ;
}

.habilidades{
    background-color: #F2EED7;
}

.lenguajes{
    background-color: ##F2EED7;
}

.proyectos{
    background-color: #626F47;
}

.contacto{
    background-color:#FEFAE0;
}

.padrelenguajes{
    display: flex;
    justify-content: space-around;
    height: 70vh;
    width: 100vw;
}